<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Editar Aluno</h1>
        <form action="/update/<%= aluno.id %>" method="POST">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="nome" value="<%= aluno.nome %>" required>
            </div>
            <div class="form-group">
                <label for="ra">RA</label>
                <input type="number" class="form-control" name="ra" value="<%= aluno.ra %>" required>
            </div>
            <div class="form-group">
                <label for="data_nascimento">Data de Nascimento</label>
                <input type="date" class="form-control" name="data_nascimento" value="<%= aluno.data_nascimento.toISOString().split('T')[0] %>" required>
            </div>
            <div class="form-group">
            <label>Telefone Responsável 1:</label>
  <input type="text" name="tel_responsavel_1" value="<%= aluno.tel_responsavel_1 || '' %>">
</div>
<div class="form-group">
  <label>Telefone Responsável 2:</label>
  <input type="text" name="tel_responsavel_2" value="<%= aluno.tel_responsavel_2 || '' %>">
  </div>
            <button type="submit" class="btn btn-primary">Atualizar Aluno</button>
        </form>
        <a href="/" class="btn btn-secondary mt-3">Voltar</a>
    </div>
</body>
</html>